h1 p {
    text-align: center;
}

li{
    list-style: none;
}

.li1:hover{
    color: #cfb3cd;
}

.li1:active{
    color: #5a0001;
}


.li2:hover{
    color: #888098;
}

.li2:active{
    color: #5a0001;
}

.li3:hover{
    color: #344055;
}

.li3:active{
    color: #5a0001;
}