@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

body {
    text-align: center;
    display: inline-block;
    margin: auto 7%;
    font-family: Raleway, sans-serif;
    background-color: #F8E7C9;
    background-image: linear-gradient(#F8E7C9, #FDF7ED, #FAEFDB);
}

h1{
    font-weight: 900;
    color: #fff;
    background-color: #0c0c0c;
    display: inline;
}

h2 {
    font-size: xx-large;
}

h3 {
    text-align: left;
    font-size: x-large;
}

p {
    text-align: justify;
    font-size: larger;
    font-weight: 300;
    letter-spacing: .5px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #0c0c0c;
    font-size: large;
    font-weight: 700;
}

a:hover {
    color: #fff;
    background-color: #0c0c0c;
    transition: .3s;
}

li{
    list-style: none;
}

.nav-links {
    display: inline-block;
    width: 15%;
    margin: auto 15px;
}

table {
    text-align: center;
    display: inline-block;
}

table, td, caption {
    border: 1px ridge #0c0c0c;
    border-collapse: collapse;
}

.section-3 {
    display: inline-block;
}

img {
    width: 70%;
    height: auto;
    border-radius: 5%;
}

.section-10 ul li {
    text-align: left;
    margin-bottom: 15px;
}

.section-10 ul li a:hover {
    color: #fff;
    background-color: #0c0c0c;
    transition: .3s;
}