h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
    font-style: italic;
    text-decoration: none;            
}

ul {
    background-color: aquamarine;
}

.nv-class {
    background-color: wheat;
}

body {
    font-size: 16px;
    text-align: center;
    
}

p {
    font-weight: 600;
    font-size: 3em;
}

li {
    text-align: left;
    font-style: oblique;
    line-height: 240%;
    text-decoration: double;
}

#verde {
    color: green;
}

#vermelho {
    color: red;
}

#azul {
    color: blue;
}